{% extends "../base.html.twig" %}

{% block content %}

	<div class="firstPage">
		<h1 class="titre">
			<span class="firstPartTitle">SO'</span>
			<span class="secondPartTitle">Posing</span>
		</h1>
		<div class="blob"></div>
		<div class="appareil">
			<a href="/categories/">
				<img src="/images/BOUTON_ENTREE.png" alt="">
			</a>
		</div>
		<div class="button">
			<img class="cours" src="/images/BOUTON_COURS.png" alt="">
			<img class="tech" src="/images/BOUTON_TECH.png" alt="">
			<img src="/images/BOUTON_OUTILS.png" alt="">
		</div>
	</div>

{% endblock %}
