extends ../base.pug

block content

    - var title = nomSousCategorie;

    include ../header.pug

    .bloc-haut

    // ScrollBar Horizontal des filtres
    .scroll-toggle 
        ul.list
            each filtre in listeFiltre 
                a(href="/photos/" + idSousCategorie + "/" + filtre.id_filtre + "/fav")
                        li.list-item #{filtre.nom_filtre}

    // Affichages des photos
    if listeBuff
        each photo in listeBuff
            .divPhoto
                .fav
                    form(method="POST" action="/photos/" + idSousCategorie + "/" + idFiltre)
                        input(type="hidden" value=photo[0] name='id_pose')
                        input(type="hidden" value=photo[2] name='favori')
                        button.btn-fav(type="submit")
                            if photo[2] == 0
                                img.f(src="/images/fav-false.png", alt="non-favori")
                            else
                                img.f(src="/images/fav-true.png", alt="favori")
                img.photos(src="data:image/png;base64," + photo[1])
    
    .bloc-bas

    // Menu du bas de page
    ul.navbar-bottom
        li
            a(href="/")
                img(src="/images/clarity_home-line.png")
        li
            a(href="")
                img(src="/images/clarity_search-line.png")
        li.monte
            a(href="/photos/" + idSousCategorie + "/ajout/photo")
                img(src="/images/BOUTON_AJOUT_PHOTO.png")
        li
            a(href="")
                img(src="/images/MENU_COMMENTAIRE.png")
        li
            a(href="/photos/" + idSousCategorie + "/" + idFiltre)
                img(src="/images/coeurplein.png")

    script(src="/javascript/photos.js")