extends ../base.pug

block content

    - var title = nomSousCategorie;

    include ../header.pug

    // ScrollBar Horizontal des filtres
    .scroll-toggle 
        ul.list
            each filtre in listeFiltre 
                form(method="POST") 
                    input(type="hidden" value=filtre.id_filtre name='id')
                    button(type="submit" class="form-btn")
                        li.list-item #{filtre.nom_filtre}
    // Affichages des photos
    if listePhotos
        each photo in listePhotos
            img.photos(src="data:image/png;base64," + photo.photo_pose)
            img.photos(src="data:image/png;base64," + img)




    // Menu du bas de page
    ul.navbar-bottom
        li
            a(href="")
                img(src="/images/clarity_home-line.png")
        li
            a(href="")
                img(src="/images/clarity_search-line.png")
        li.monte
            a(href="")
                img(src="/images/BOUTON_AJOUT_PHOTO.png")
        li
            a(href="")
                img(src="/images/MENU_COMMENTAIRE.png")
        li
            a(href="")
                img(src="/images/MENU_FAVORIS.png")