doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name='theme-color' content='#764ABC')
        title SO&apos;Posing
        link(rel='manifest' href='/javascript/pwa.webmanifest')
        link(rel='apple-touch-icon' href='/images/apple-touch.png')
        link(rel='stylesheet' href='/design/css/style.css')
        link(rel='icon' href='https://so-shooting.com/wp-content/uploads/2020/12/cropped-LOGO_MINIATURE-1-192x192.png' sizes='192x192')


    body
        block content

    script(src="/javascript/base.js")