extends ../base.pug

block content

	.firstPage
		h1.titre
			span.firstPartTitle SO'
			span.secondPartTitle Posing

		.blob
		.appareil
			if internet
				a(href="/categories/")
					img(src="/images/BOUTON_ENTREE.png")
			else 
				img(src="/images/BOUTON_ENTREE_FALSE.png")

		.button
			img.cours(src="/images/BOUTON_COURS.png")
			img.tech(src="/images/BOUTON_TECH.png")
			img(src="/images/BOUTON_OUTILS.png")

	script(src="/javascript/pwa.js")
	script(src="/javascript/status.js")