{% extends "../base.html.twig" %}

{% block content %}

	{# Header #}
	{% include "../header.html.twig" with {'title': 'A CHANGER'} %}

	{# ScrollBar Horizontale (Filtre) #}


	<div class="scroll-toggle">
		<ul class="list">
			{% for filtre in listeFiltre %}
				<li class='list-item'>{{filtre.nom_filtre}}
				</li>
			{% endfor %}
		</ul>
	</div>

	{# Liste des photos #}
	{% for photo in listePhotos %}
		<img src="data:image/png;base64,{{photo.photo_pose}}" class="photos"/>
	{% endfor %}

	{# Footer #}
	<ul class="navbar-bottom">
		<li>
			<a href=""><img src="/images/clarity_home-line.png" alt=""></a>
		</li>
		<li>
			<a href=""><img src="/images/clarity_search-line.png" alt=""></a>
		</li>
		<li class="monte">
			<a href=""><img src="/images/BOUTON_AJOUT_PHOTO.png" alt=""></a>
		</li>
		<li>
			<a href=""><img src="/images/MENU_COMMENTAIRE.png" alt=""></a>
		</li>
		<li>
			<a href=""><img src="/images/MENU_FAVORIS.png" alt=""></a>
		</li>
	</ul>

{% endblock %}
