<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#764ABC" />
		<title>SO'Posing</title>
		<link rel="manifest" href="/javascript/pwa.webmanifest">
		<link rel="apple-touch-icon" href="/images/apple-touch.png">
		<link rel="stylesheet" href="/design/css/style.css">
	</head>

	<body>
		{% block content %}{% endblock %}
	</body>

</html>
