{% extends "../header.html.twig" %}
{% block title %}Catégories{% endblock %}
{% block content %}

	<div class="bloc">
        <div class="categorie">
            <h2>Mariage</h2>
            <p>105 photos</p>
            <div class="overlay"></div>
        </div>
        <div class="categorie">
            <h2>Famille</h2>
            <p>105 photos</p>
        </div>
        <div class="categorie">
            <h2>Naissance</h2>
            <p>105 photos</p>
        </div>
        <div class="categorie">
            <h2>EVJF</h2>
            <p>105 photos</p>
        </div>
        <div class="categorie">
            <h2>Animaux</h2>
            <p>105 photos</p>
        </div>
        <div class="categorie">
            <h2>Corporate</h2>
            <p>105 photos</p>
        </div>
    </div>

{% endblock %}