extends ../base.pug

block content

    - var title = "Catégories";

    include ../header.pug

    .descente

    each categorie in listeCategories

        a(href="/categories/" + categorie.id_categorie)
            .categorie
                img(src="/images/mariage.png")
                h2 #{categorie.nom_categorie}