extends ../base.pug

block content

    - var title = "Catégories";

    include ../header.pug

    .descente

    each photo in listeBuff

        a(href="/categories/" + photo[0])
            .categorie
                img(src="data:image/png;base64," + photo[2])
                h2 #{photo[1]}