extends ../base.pug

block content

    - var title = nomCategorie;

    include ../header.pug

    .descente

    each sous_categorie in listeFiltreSousCategories

        a(href="/photos/" + sous_categorie[0] + "/" + sous_categorie[3])
            .categorie
                img(src="data:image/png;base64," + sous_categorie[2])
                h2 #{sous_categorie[1]}