extends ../base.pug

block content

    - var title = nomCategorie;

    include ../header.pug

    .descente

    each sous_categorie in listeFiltreSousCategories

        a(href="/photos/" + sous_categorie[0].id_sous_categorie + "/" + sous_categorie[1].id_filtre)
            .categorie
                img(src="/images/mariage.png")
                h2 #{sous_categorie[0].nom_sous_categorie}