/********************************************
------- INITIALISATION DU PROJET ------------
********************************************/

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Google Fonts

@mixin googleFonts($font) {
    @import url('https://fonts.googleapis.com/css2?family=#{$font}&display=swap');
}

@include googleFonts('Dancing Script');
@include googleFonts('Inter');
@include googleFonts('Roboto');
@include googleFonts('Mukta Vaani');
@include googleFonts('Open Sans');

/********************************************
-------- IMPORT DES FICHIER SCSS ------------
********************************************/

@import 'accueil';
@import 'header';
@import 'catégories';